
.femme {
    font-family: 'SK Femme Fatale';
    font-size: 60px;
}

.brand {
    font-family: 'SK Femme Fatale';
    font-size: 100px;
    /* transition: 0.3s ease-in-out; */
}

@media (max-width: 940px)  {
    .brand {
        font-size: 70px;    
        /* transition: 0.3s ease-in-out; */
    }
    .femme {
        font-size: 40px;
    }
}

@media (max-width: 706px)  {
    .brand {
        font-size: 50px;
        /* transition: 0.3s ease-in-out; */
    }
    .femme {
        font-size: 25px;
    }
}

@media (max-width: 576px)  {
    .brand {
        font-size: 30px;
        /* transition: 0.3s ease-in-out; */
    }
    
    .femme {
        font-size: 15px;
    }
}