@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'SK Femme Fatale';
    src: url(assets/fonts/SKFemmeFatale-Regular.eot);
    src: local('SK Femme Fatale Regular'), local('SKFemmeFatale-Regular'),
        url(assets/fonts/SKFemmeFatale-Regular.eot?#iefix) format('embedded-opentype'),
        url(assets/fonts/SKFemmeFatale-Regular.woff2) format('woff2'),
        url(assets/fonts/SKFemmeFatale-Regular.woff) format('woff'),
        url(assets/fonts/SKFemmeFatale-Regular.ttf) format('truetype');
}


body {
    overflow: hidden;
    background-image: url(assets/imgs/paper-3155438.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
